@model KWSAdmin.Application.Order

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Creator")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creator.Username)
        </dd>
    </dl>
    <h5>Client</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.EMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Adres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Adres)
        </dd>
    </dl>
    <h5>Accu</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accu.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accu.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accu.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accu.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Accu.Specs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accu.Specs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Creator")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Accu.Creator.Username)
        </dd>
    </dl>

</div>
<div>
    @Html.ActionLink("Edit", "UpdateOrder", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Home") |
    @Html.ActionLink("Delete order","DeleteOrder", new{id = Model.Id})
</div>
