@using System.Data.SqlClient
@model List<KWSAdmin.Application.Order>
@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Id", "Index", new { SortOrder = ViewBag.IdSortParm })</th>
            <th>@Html.ActionLink("Client", "Index", new { SortOrder = ViewBag.ClientSortParm })</th>
            <th>@Html.ActionLink("Accu", "Index", new { SortOrder = ViewBag.AccuSortParm })</th>
            <th>@Html.ActionLink("Creator", "Index", new { SortOrder = ViewBag.CreatorSortParm })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>

                <td>
                    <a asp-area="" asp-controller="Home" asp-action="OrderView" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelitem => item.Id)
                    </a>
                </td>
                <td>@Html.DisplayFor(modelitem => item.Client.LName)</td>
                <td>@Html.DisplayFor(modelitem => item.Accu.Name)</td>
                <td>@Html.DisplayFor(modelitem => item.Creator.Username)</td>
            </tr>
            
        }
    </tbody>
</table>

