@model List<KWSAdmin.Application.Order>
@{
    ViewData["Title"] = "Home Page";
}

<input type="text" id="myInput" onkeyup="myFuncion()" placeholder="Search for names"/>


<div class="row text-dark">

    @{foreach (var order in Model)
      {
          <div class="col-12 col-md-3 ">
              <a asp-area="" asp-controller="Home" asp-action="OrderView"  asp-route-id="@order.id" class="btn-dark text-deco-none">
                  <div class="card card-scale mb-4 h-80">
                      <div class="card-body d-inline-flex flex-column">
                          <h5 class="card-title text-dark">@order.accu.Name</h5>
                          <p class="card-text text-dark">@order.id: @order.client.LName</p>
                          <p class="card-author text-dark">@order.creator.username</p>
                      </div>
                  </div>
              </a>
          </div>
      }
    }
</div>



