@model List<KWSAdmin.Application.Order>
@{
    ViewData["Title"] = "Home Page";
}



<form method="get" asp-action="Index">
    Find by name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />

</form>


<p>
    @Html.ActionLink("Toggle done orders", "Index", new { showDone = ViewBag.DoneFilterParm })
</p>


<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Id", "Index", new { SortOrder = ViewBag.IdSortParm })</th>
            <th>@Html.ActionLink("Client", "Index", new { SortOrder = ViewBag.ClientSortParm })</th>
            <th>@Html.ActionLink("Accu", "Index", new { SortOrder = ViewBag.AccuSortParm })</th>
            <th>@Html.ActionLink("Location", "Index", new { SortOrder = ViewBag.LocationSortParm })</th>
            <th>@Html.ActionLink("Creator", "Index", new { SortOrder = ViewBag.CreatorSortParm })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr id="OrderItem">

                <td>
                    <a asp-area="" asp-controller="Data" asp-action="OrderView" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelitem => item.Id)
                    </a>
                </td>
                <td>@Html.DisplayFor(modelitem => item.Client.LName)</td>
                <td>@Html.DisplayFor(modelitem => item.Accu.Name)</td>
                <td>@Html.DisplayFor(modelitem => item.Location)</td>
                <td>@Html.DisplayFor(modelitem => item.Creator.Username)</td>
            </tr>

        }
    </tbody>
</table>


